.login {
  display: grid;
  place-items: center;
  background-color: black;
  height: 100vh;
}

.login > img {
  width: 80%;
}

.login > a {
  padding: 20px;
  border-radius: 99px;
  background-color: #1db954;
  font-weight: 800;
  color: white;
  text-decoration: none;
  cursor: pointer;
}
